*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: whitesmoke;
    width: 250px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-wrapper {
  display: flex;
  width: 200%; /* for sliding */
  transition: transform 0.4s ease-in-out;
}
.container.signup-mode .slide-wrapper {
  transform: translateX(-50%);
}
.sign{
    width: 100%;
  flex-shrink: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input {
    padding-left: 4px;
}
.sign input{
    width: 80%;
    height: 32px;
    border: 2px solid rgba(0, 0, 0, 0.192);
    border-radius: 4px;
    outline: none;
}

.sign .buttons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button{
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(7, 216, 146);
    font-weight: bold;
}

button{
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(7, 216, 146);
    font-weight: bold;
}

.sign label{
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: rgb(7, 216, 146);
    margin-bottom: 20px;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.dashcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dash-button {
    margin-top: 30px;
}
.posts{
    height: 100%;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addpost{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    height: auto;
    border-radius: 8px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.247);
}

.addpost input{
    width: 200px;
    height: 32px;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.205);
}

.addpost button{
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgb(7, 216, 146);
    font-weight: bold;
    font-size: 14px;
}

.file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="file"] {
    display: none;
}

.custom-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-card{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: monospace;
    font-size: 12px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.247);
    flex-direction: column;
}


.post-card img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.content{
    width: 450px;
    height: auto;
    overflow:hidden
}

.price{
    background-color: rgba(0, 0, 0, 0.158);
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-blog{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.go-Dash{
    align-self: center;
}

.blog-container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: auto;
}

.blog-card{
    background-color: whitesmoke;
    width: 280px;
    height: 320px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.blog-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.blog-card div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blog-card div p{
    background-color: rgba(0, 0, 0, 0.158);
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    overflow: hidden;
}

.signHide{
    display: none;
}

.logout-b{
    align-self: center;
}